div.div_hire{
    background-color: #66CDAA;
    width: 100%;
    height: 94vh;
    color: whitesmoke;
}

div.div_work{
    background-color:
    #6A5ACD;
    width: 100%;
    height: 94vh;
    color: whitesmoke
}

div.div_goto{
    position: absolute;
    bottom: 25%;
    left: 8%;
}

@media screen and (max-width: 600px){
    div.div_hide{
        display:none;
    }

    div.div_mobi{
        background-color:red;
        width: 100%;
        height: 97vh;
    }
}
